* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #F59084;
}


/* ------------------------header section-------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header__logo img {
    width: 60px;
    height: 60px;
    margin-left: 16px;
    margin-top: 12px;
}

.header__nav i {
    font-size: 24px;
    color: #ffffff;
    margin-right: 16px;
}

/* --------------------main section---------------------- */
.main {
    margin: 32px 16px;
}


/* ---switch--- */
.switch {
    margin: 0 auto 64px auto;
    width: 280px;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    border-radius: 100px;
    position: relative;
}

.switch__button--left a {
    color: #909090;
    text-decoration: none;
    width: 140px;
    height: 56px;
    border-radius: 100px;
    position: absolute; /* switchに対して、相対位置にする */
    top: 2px;
    left: 2px;
    display: inline-block; /* inline-blockにする */
    text-align: center; /* 横方向中央ぞろえにする */
    line-height: 56px; /* 縦方向中央ぞろえにする */
    vertical-align: middle; /* 縦方向中央ぞろえにする */
}

.switch__button--right a {
    color: #ffffff;
    text-decoration: none;
    width: 140px;
    height: 56px;
    border-radius: 100px;
    background-color: #F59084;
    position: absolute; /* switchに対して、相対位置にする */
    top: 2px;
    right: 2px;
    display: inline-block; /* inline-blockにする */
    text-align: center; /* 横方向中央ぞろえにする */
    line-height: 56px; /* 縦方向中央ぞろえにする */
    vertical-align: middle; /* 縦方向中央ぞろえにする */
}


/* ---form--- */


.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;

}

.name__label {
    color: #ffffff;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    width: 358px;
    margin-bottom: 8px;
}

.name__label i {
    margin-right: 4px;
}

.name__input {
    width: 358px;
    height: 72px;
    border-radius: 12px;
    border: none;
    padding: 4px 8px;
}

.memo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
}

.memo__label {
    color: #ffffff;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    width: 358px;
    margin-bottom: 8px;
}

.memo__label i {
    margin-right: 4px;
}

.memo__input {
    width: 358px;
    height: 200px;
    border-radius: 12px;
    border: none;
    padding: 4px 8px;
}

/* -------button--------- */
.form__button {
    /*display: block;*/
    width: 280px;
    height: 64px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 100px;
    border: none;
    color: #F59084;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__button i {
    font-size: 28px;
    margin-right: 5px;
    transform: translateX(-20%);
}

.form__button span {
    font-size: 18px;
    transform: translateX(-20%);
}
