body {
    margin: 0;
    background-color: #EDEDED;
}


.header-inner {
    /*position: relative;*/
    padding: 20px 100px 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.gnav-list {
    display: flex;
}


a {
    color: #000;
    font-weight: bold;
}


/*-----------------アイコンと文字の間にスペースが適用できない-------------------*/
/*理由がわからん*/
/*.button i {*/
/*    margin-right: 20px !important;*/
/*}*/

/*.button span {*/
/*    margin-left: 10px !important;*/
/*}*/
/*----------------ここまで--------------------*/


.button {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 20px;
    background-color: #007bff;
    color: #000;
    text-align: center;
    text-decoration: none;


}

#login-button {
    background-color: #AEAEAE;
    transition: background-color 200ms ease-out;

}

#login-button:hover {
    background-color: #898989;
    color: #000;
    text-decoration: none;

}

#register-button {
    background-color: #76B5FF;
    transition: background-color 200ms ease-out;
}

#register-button:hover {
    background-color: #B7D8FF;
    color: #000;
    text-decoration: none;

}


.table-container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.table {
    max-width: 1000px;
    table-layout: auto;
    text-align: center;
    background-color: #ffffff;
    margin: 50px auto 0 auto;
}


