body {
    margin: 0;
    background-color: #EDEDED;
}

.header {
    /*max-width: 1000px;*/
}


.header-inner {
    /*position: relative;*/
    padding: 20px 100px 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.wrap {*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    width: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/




.gnav-list {
    display: flex;
}


a {
    color: #000;
    font-weight: bold;
}





.button {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 20px;
    background-color: #007bff;
    color: #000;
    text-align: center;
    text-decoration: none;


}

#login-button {
    background-color: #AEAEAE;
    transition: background-color 200ms ease-out;

}

#login-button:hover {
    background-color: #898989;
    color: #000;
    text-decoration: none;

}

#register-button {
    background-color: #76B5FF;
    transition: background-color 200ms ease-out;
}
#register-button:hover {
    background-color: #B7D8FF;
    color: #000;
    text-decoration: none;

}




input {
    /*display: inline-block;*/
    width: 50%;
    height: 100px;
}

/*.form-inner {*/
/*    text-align: center;*/
/*}*/

/*.input-friend_name {*/

/*}*/

.form-container {
    width: 1000px;
    margin: 50px auto;
    text-align: center;
}

/*.table {*/
/*    max-width: 1000px;*/
/*    table-layout: auto;*/
/*    text-align: center;*/
/*    background-color: #ffffff;*/
/*    margin: 50px auto 0 auto;*/
/*}*/
.input-friend-name {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


/*.text-box {*/
/*    font-size: 30px;*/
/*}*/
/*.input-friend-name-left {*/
/*    font-size: 40px;*/
/*    text-align: left;*/
/*}*/


.input-friend-name input {
    font-size: 40px;
}

.input-friend-name textarea {
    font-size: 30px;
}


.input-friend-name-right {
    font-size: 40px;
    text-align: right;
    /*display: inline-block;*/
    /*margin: 0 auto;*/
}

/*.input-row label {*/
/*    font-size: 40px;*/
/*    text-align: left;*/
/*}*/




.submit-button {
    width: 300px;
}
