* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #F59084;
}


/* ------------------------header section-------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header__logo img {
    width: 60px;
    height: 60px;
    margin-left: 16px;
    margin-top: 12px;
}

.header__nav i {
    font-size: 24px;
    color: #ffffff;
    margin-right: 16px;
}

/* --------------------main section---------------------- */
.main {
    margin: 32px 16px;
}


/* ---switch--- */
.switch {
    margin: 0 auto;
    margin-bottom: 32px;
    width: 280px;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    border-radius: 100px;
    position: relative;
}

.switch__button--left a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    width: 140px;
    height: 56px;
    border-radius: 100px;
    background-color: #F59084;
    position: absolute; /* switchに対して、相対位置にする */
    top: 2px;
    left: 2px;
    display: inline-block; /* inline-blockにする */
    text-align: center; /* 横方向中央ぞろえにする */
    line-height: 56px; /* 縦方向中央ぞろえにする */
    vertical-align: middle; /* 縦方向中央ぞろえにする */
}

.switch__button--right a {
    text-align: center;
    color: #909090;
    text-decoration: none;
    width: 140px;
    height: 56px;
    border-radius: 100px;
    position: absolute; /* switchに対して、相対位置にする */
    top: 2px;
    right: 2px;
    display: inline-block; /* inline-blockにする */
    text-align: center; /* 横方向中央ぞろえにする */
    line-height: 56px; /* 縦方向中央ぞろえにする */
    vertical-align: middle; /* 縦方向中央ぞろえにする */
}


/* ---list section--- */
.name-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-card {
    width: 358px;
    height: 100px;
    border-radius: 12px;
    background-color: #ffffff;
    opacity: 0.6;
    margin-bottom: 4px;
}

.name-card:hover {
    width: 358px;
    height: 100px;
    border-radius: 12px;
    background-color: #ffffff;
    opacity: 0.9;
    margin-bottom: 4px;
}

.name-card__name {
    padding: 4px 8px;
    font-size: 18px;
}

.name-card__memo {
    padding: 0 8px;
    font-size: 12px;
}
