/*!*------------------------desktop----------------------------*!*/
/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/*body {*/
/*    margin: 0;*/
/*}*/

/*!*header*!*/
/*.header {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*}*/

/*.logo {*/
/*    margin: 12px 24px;*/
/*}*/

/*.logo__image {*/
/*    width: 174px;*/
/*    height: 72px;*/

/*}*/
/*.nav {*/
/*}*/

/*.gnav {*/
/*    margin-right: 24px;*/
/*}*/

/*.gnav__login {*/
/*    display: inline-block;*/
/*    color: #000000;*/
/*    text-decoration: none;*/
/*    padding: 10px 30px;*/
/*    background-color: #AEAEAE;*/
/*    border-radius: 8px;*/
/*}*/

/*.gnav__sign-in {*/
/*    display: inline-block;*/
/*    margin-left: 20px;*/
/*    color: #000000;*/
/*    text-decoration: none;*/
/*    padding: 10px 30px;*/
/*    background-color: #76B5FF;*/
/*    border-radius: 8px;*/
/*}*/

/*.gnav__login:hover {*/
/*    display: inline-block;*/
/*    color: #000000;*/
/*    text-decoration: none;*/
/*    padding: 10px 30px;*/
/*    background-color: #898989;*/
/*    border-radius: 8px;*/
/*}*/

/*.gnav__sign-in:hover {*/
/*    display: inline-block;*/
/*    margin-left: 20px;*/
/*    color: #000000;*/
/*    text-decoration: none;*/
/*    padding: 10px 30px;*/
/*    background-color: #B7D8FF;*/
/*    border-radius: 8px;*/
/*}*/

/*!*main*!*/
/*.main {*/
/*    position: relative;*/
/*    bottom: 0;*/

/*}*/

/*.main__cover-image {*/
/*    width: 100%;*/
/*}*/

/*.main__catch-copy {*/
/*    font-size: 50px;*/
/*    position: absolute;*/
/*    top: 40%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/


/*---------------------------------------------レスポンシブ-------------------------------------------------*/

@media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        height: 100vh;
        background-color: #F5F5F5;
        /*background: linear-gradient(to bottom, orange 0%, coral 100%);*/
    }

    /*header*/
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 100%;
    }

    .logo__image {
        width: 174px;
        height: 72px;
        margin: 12px auto;

    }
    .nav {
    }

    .gnav {
        /*margin-right: 24px;*/
        display: flex;
        justify-content: center;
    }

    .gnav__login {
        display: inline-block;
        color: #000000;
        text-decoration: none;
        padding: 10px 30px;
        width: 405px;
        height: 120px;
        background-color: #F5F5F5;
        box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.25), -8px -8px 0px rgba(255, 255, 255, 0.8);
        border-radius: 94px;
        text-align: center;
    }

    .gnav__sign-in {
        display: inline-block;
        margin-left: 20px;
        color: #000000;
        text-decoration: none;
        padding: 10px 30px;
        background-color: #F5F5F5;
        box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25), -8px -8px 12px rgba(255, 255, 255, 0.8);
        border-radius: 8px;
    }

    /*.gnav__login:hover {*/
    /*    display: inline-block;*/
    /*    color: #000000;*/
    /*    text-decoration: none;*/
    /*    padding: 10px 30px;*/
    /*    background-color: #898989;*/
    /*    border-radius: 8px;*/
    /*}*/

    /*.gnav__sign-in:hover {*/
    /*    display: inline-block;*/
    /*    margin-left: 20px;*/
    /*    color: #000000;*/
    /*    text-decoration: none;*/
    /*    padding: 10px 30px;*/
    /*    background-color: #B7D8FF;*/
    /*    border-radius: 8px;*/
    /*}*/

    /*main*/
    .main {
        /*position: relative;*/
        /*bottom: 0;*/

    }

    .main__cover-image {
        /*width: 100%;*/
        display: none;
    }

    .main__catch-copy {
        display: none;
        /*font-size: 50px;*/
        /*position: absolute;*/
        /*top: 40%;*/
        /*left: 50%;*/
        /*transform: translate(-50%, -50%);*/
    }
}
