* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #F59084;
}


/* ------------------------header section-------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header__logo img {
    width: 60px;
    height: 60px;
    margin-left: 16px;
    margin-top: 12px;
}

.header__nav i {
    font-size: 24px;
    color: #ffffff;
    margin-right: 16px;
}

/* --------------------main section---------------------- */
.main {
    margin: 48px 16px;
}




/* ---form--- */
.form {
    max-width: 384px;
    margin: 0 auto;
}

.form__section-title {
    color: #ffffff;
    margin-bottom: 20px;
}

.name, .email, .password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
}

.name__input {
    width: 358px;
    height: 54px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #ffffff;
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff; /* 下線の太さと色を指定 */
    outline: none; /*フォーカス時のアウトラインを消す*/
}
.name__input::placeholder {
    color: #ffffff;
}

.email__input {
    width: 358px;
    height: 54px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #ffffff;
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff; /* 下線の太さと色を指定 */
    outline: none; /*フォーカス時のアウトラインを消す*/
}
.email__input::placeholder {
    color: #ffffff;
}
.password__input {
    width: 358px;
    height: 54px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #ffffff;
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff; /* 下線の太さと色を指定 */
    outline: none; /*フォーカス時のアウトラインを消す*/
}
.password__input::placeholder {
    color: #ffffff;
}


/* -------button--------- */
.form__button {
    display: block;
    width: 280px;
    height: 64px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 100px;
    border: none;
    color: #F59084;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__button span {
    font-size: 18px;
}

.main__link {
    text-decoration: none;
    color: #ffffff;
    display: block;
    width: fit-content;
    margin: 16px auto 0 auto;
}
